
.contact-container {
    width: 1200px;
    margin: 0 auto;
    padding: 5rem 0;
}


.contact-page-container {
    display:  flex;
    justify-content: space-between;
    align-items: center;
}
.contact-page-right-section, .contact-page-left-section {
    width: 45%;
}
.contact-info {
    background-color: rgb(15, 15, 15);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.contact-icon {
    border: 1px solid #fff;
    background-color: rgb(255, 115, 0);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.contact-icon svg {
    font-size: 1.5rem;
}

.form-group {
    width: 100%;
    margin-bottom: 2rem;
}
.form-group label {
    display: block;
    font-size: 1.3rem;
    margin: 0.5rem;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 1.5rem;
    border: none;
    outline: none;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    color: rgb(233, 229, 229);
}
textarea {
    min-height: 250px;
    resize: vertical;
}

.form-btn {
    border: 1px solid #ff7300;
    border-radius: 5px;
    background-color: transparent;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.3s linear;
    padding: .5rem 1.5rem;
}
.form-btn:hover {
    background-color: rgb(255, 115, 0);
}

@media screen and (max-width: 768px){
    .contact-container {
        width: 90vw;
    }
    .contact-page-container {
        flex-direction: column;
        padding-bottom: 2rem;
    }
    .contact-page-left-section, .contact-page-right-section{
        width: 90vw;
    }
    .form-btn {
        width: 90vw;
    }
}